## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [46]:
import os
import numpy as np
import pandas as pd

In [47]:
# 設定 data_path
dir_data = './data/'

In [48]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))

Path of read in data: ./data/application_train.csv

In [49]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [50]:
#rowCnt
app_train.shape[0]

307511

In [51]:
#columnCnt
app_train.shape[1]

122

#### 列出所有欄位

In [67]:
list(app_train.columns.values)

['SK_ID_CURR',
 'TARGET',
 'NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'OWN_CAR_AGE',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'OCCUPATION_TYPE',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'WEEKDAY_APPR_PROCESS_START',
 'HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'EXT_SOURCE_1',
 'EXT_SOURCE_2',
 'EXT_SOURCE_3',
 'APARTMENTS_AVG',
 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BUILD_AVG',
 'COMMONAREA_AVG',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'FLOORSMAX_AVG',
 'FLOORSMIN_AVG',
 'LANDAREA_AVG',
 'LIVINGAPARTMENTS_AVG',
 'LIVINGAREA_AVG',
 'NONLIVINGAPARTMENTS_AVG',
 'NONLIVINGAREA_AVG',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'YEARS_BUILD_MODE',
 'COMMONAREA_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'FLOORSMIN_MODE',
 'LANDAREA_MODE',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'FLOORSMIN_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAREA_MEDI',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'TOTALAREA_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR']

#### 截取部分資料

In [72]:
df = pd.read_csv(f_app,header=None,sep=' ',names=['SK_ID_CURR','EXT_SOURCE_1'])
print(df)

                                               SK_ID_CURR  \
0       SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GEND...
1                                           100002,1,Cash
2                                           100003,0,Cash
3                                      100004,0,Revolving
4                                           100006,0,Cash
5                                           100007,0,Cash
6                                           100008,0,Cash
7                                           100009,0,Cash
8                                           100010,0,Cash
9                                           100011,0,Cash
10                                     100012,0,Revolving
11                                          100014,0,Cash
12                                          100015,0,Cash
13                                          100016,0,Cash
14                                          100017,0,Cash
15                                          100018,0,Cash
16                                          100019,0,Cash
17                                          100020,0,Cash
18                                     100021,0,Revolving
19                                     100022,0,Revolving
20                                          100023,0,Cash
21                                     100024,0,Revolving
22                                          100025,0,Cash
23                                          100026,0,Cash
24                                          100027,0,Cash
25                                          100029,0,Cash
26                                          100030,0,Cash
27                                          100031,1,Cash
28                                          100032,0,Cash
29                                          100033,0,Cash
...                                                   ...
307482                                      456225,1,Cash
307483                                      456226,0,Cash
307484                                      456227,0,Cash
307485                                      456228,0,Cash
307486                                 456229,0,Revolving
307487                                      456230,0,Cash
307488                                      456231,0,Cash
307489                                      456232,0,Cash
307490                                      456233,1,Cash
307491                                      456234,0,Cash
307492                                      456235,0,Cash
307493                                      456236,0,Cash
307494                                      456237,0,Cash
307495                                      456238,0,Cash
307496                                      456239,0,Cash
307497                                 456240,0,Revolving
307498                                      456241,0,Cash
307499                                      456242,0,Cash
307500                                      456243,0,Cash
307501                                      456244,0,Cash
307502                                      456245,0,Cash
307503                                      456246,0,Cash
307504                                      456247,0,Cash
307505                                      456248,0,Cash
307506                                      456249,0,Cash
307507                                      456251,0,Cash
307508                                      456252,0,Cash
307509                                      456253,0,Cash
307510                                      456254,1,Cash
307511                                      456255,0,Cash

                                             EXT_SOURCE_1
0                                                     NaN
1       loans,M,N,Y,0,202500.0,406597.5,24700.5,351000...
2       loans,F,N,N,0,270000.0,1293502.5,35698.5,11295...
3       loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0...
4       loans,F,N,Y,0,135000.0,312682.5,29686.5,297000...
5       loans,M,N,Y,0,121500.0,513000.0,21865.5,513000...
6       loans,M,N,Y,0,99000.0,490495.5,27517.5,454500....
7       loans,F,Y,Y,1,171000.0,1560726.0,41301.0,13950...
8       loans,M,Y,Y,0,360000.0,1530000.0,42075.0,15300...
9       loans,F,N,Y,0,112500.0,1019610.0,33826.5,91350...
10      loans,M,N,Y,0,135000.0,405000.0,20250.0,405000...
11      loans,F,N,Y,1,112500.0,652500.0,21177.0,652500...
12      loans,F,N,Y,0,38419.155,148365.0,10678.5,13500...
13      loans,F,N,Y,0,67500.0,80865.0,5881.5,67500.0,U...
14      loans,M,Y,N,1,225000.0,918468.0,28966.5,697500...
15      loans,F,N,Y,0,189000.0,773680.5,32778.0,679500...
16      loans,M,Y,Y,0,157500.0,299772.0,20160.0,247500...
17      loans,M,N,N,0,108000.0,509602.5,26149.5,387000...
18      loans,F,N,Y,1,81000.0,270000.0,13500.0,270000....
19      loans,F,N,Y,0,112500.0,157500.0,7875.0,157500....
20      loans,F,N,Y,1,90000.0,544491.0,17563.5,454500....
21      loans,M,Y,Y,0,135000.0,427500.0,21375.0,427500...
22      loans,F,Y,Y,1,202500.0,1132573.5,37561.5,92700...
23      loans,F,N,N,1,450000.0,497520.0,32521.5,450000...
24      loans,F,N,Y,0,83250.0,239850.0,23850.0,225000....
25      loans,M,Y,N,2,135000.0,247500.0,12703.5,247500...
26      loans,F,N,Y,0,90000.0,225000.0,11074.5,225000....
27      loans,F,N,Y,0,112500.0,979992.0,27076.5,702000...
28      loans,M,N,Y,1,112500.0,327024.0,23827.5,270000...
29      loans,M,Y,Y,0,270000.0,790830.0,57676.5,675000...
...                                                   ...
307482  loans,M,N,Y,0,225000.0,297000.0,19975.5,297000...
307483  loans,F,Y,Y,0,225000.0,500566.5,34969.5,472500...
307484  loans,F,N,Y,0,99000.0,247275.0,16479.0,225000....
307485  loans,F,Y,N,0,540000.0,545040.0,35617.5,450000...
307486  loans,F,N,Y,1,270000.0,180000.0,9000.0,180000....
307487  loans,F,Y,Y,1,292500.0,355536.0,18283.5,270000...
307488  loans,M,N,Y,0,117000.0,1071909.0,31473.0,93600...
307489  loans,F,N,N,0,157500.0,135000.0,13351.5,135000...
307490  loans,F,N,Y,0,225000.0,521280.0,23089.5,450000...
307491  loans,M,N,Y,0,81000.0,135000.0,9148.5,135000.0...
307492  loans,M,Y,Y,2,90000.0,1078200.0,31522.5,900000...
307493  loans,M,Y,Y,0,585000.0,1575000.0,43443.0,15750...
307494  loans,F,N,Y,0,135000.0,946764.0,37678.5,765000...
307495  loans,M,Y,N,1,270000.0,479700.0,46858.5,450000...
307496  loans,M,Y,N,0,180000.0,808650.0,23773.5,675000...
307497  loans,F,N,N,0,360000.0,337500.0,16875.0,337500...
307498  loans,F,Y,Y,0,180000.0,270126.0,12028.5,193500...
307499  loans,M,Y,Y,0,198000.0,1312110.0,52168.5,11250...
307500  loans,F,N,Y,0,81000.0,225000.0,12694.5,225000....
307501  loans,F,N,Y,0,261000.0,1303812.0,35982.0,11385...
307502  loans,F,N,Y,3,81000.0,269550.0,11871.0,225000....
307503  loans,F,N,Y,1,94500.0,225000.0,10620.0,225000....
307504  loans,F,N,Y,0,112500.0,345510.0,17770.5,247500...
307505  loans,F,N,Y,0,153000.0,331920.0,16096.5,225000...
307506  loans,F,N,Y,0,112500.0,225000.0,22050.0,225000...
307507  loans,M,N,N,0,157500.0,254700.0,27558.0,225000...
307508  loans,F,N,Y,0,72000.0,269550.0,12001.5,225000....
307509  loans,F,N,Y,0,153000.0,677664.0,29979.0,585000...
307510  loans,F,N,Y,0,171000.0,370107.0,20205.0,319500...
307511  loans,F,N,N,0,157500.0,675000.0,49117.5,675000...

[307512 rows x 2 columns]

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子